<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style>
      body {
        font: 30px Tahoma;
        color: indigo;
      }
    </style>
    <title>25_form_textInput</title>
  </head>
  <body>
    <div id="app">
      <!-- <label><input type="checkbox" v-model="agree" />Agree</label>
      <h1>{{ agree }}</h1>
      <button @click="submit">Submit</button> -->

      <label
        ><input type="checkbox" v-model="time" value="morning" />Morning</label
      >
      <label
        ><input
          type="checkbox"
          v-model="time"
          value="afternoon"
        />Afternoon</label
      >
      <label
        ><input type="checkbox" v-model="time" value="evening" />Evening</label
      >
      <h1>{{ time }}</h1>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          agree: false,
          time: []
        },
        methods: {
          submit() {
            if (this.agree !== true) {
              alert("Please agree!");
            }
          }
        }
      });
    </script>
  </body>
</html>
