<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>25_form_radio</title>
  </head>
  <body>
    <div id="app">
      <label><input type="radio" v-model="gender" value="male" />male</label>
      <label
        ><input type="radio" v-model="gender" value="female" />female</label
      >
      <label
        ><input type="radio" v-model="gender" value="others" />others</label
      >
      <h1>{{ gender }}</h1>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          gender: ""
        }
      });
    </script>
  </body>
</html>
