<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h3>{{ message }}</h3>
      <table border="1">
        <tr>
          <td v-for="classmate in classmates">{{ classmate.name }}</td>
        </tr>
        <tr>
          <td v-for="classmate in classmates">{{ classmate.age }}</td>
        </tr>
      </table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          message: "Hello, Vue",
          colors: [
            "red",
            "orange",
            "yellow",
            "green",
            "blue",
            "indigo",
            "purple"
          ],
          classmates: [
            { name: "Anna", age: 14 },
            { name: "Steve", age: 18 },
            { name: "Nina", age: 15 }
          ]
        }
      });
    </script>
  </body>
</html>
