<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h3>{{ title }}</h3>
      <ul>
        <li v-for="color in colors">{{ color }}</li>
      </ul>
      <table>
        <tr v-for="color in colors">
          <td>{{ color }}</td>
        </tr>
      </table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          title: "Colors",
          colors: [
            "red",
            "orange",
            "yellow",
            "green",
            "blue",
            "indigo",
            "purple"
          ]
        }
      });
    </script>
  </body>
</html>
