<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style>
      body,
      select {
        font: 24px Tahoma;
        color: indigo;
      }
      select {
        padding: 5px 10px;
      }
    </style>
    <title>27_form_select</title>
  </head>
  <body>
    <div id="app">
      <!-- <select v-model="year">
        <option value="">Selct Year</option>
        <option></option>
        <option></option>
        <option></option>
      </select> -->

      <select v-model="selectedYear">
        <option v-for="year in years">{{ year }}</option>
      </select>
      <h1>Year : {{ selectedYear }}</h1>

      <select v-model="selectedMonth">
        <option v-for="month in 12">{{ month }}</option>
      </select>
      <h1>Month : {{ selectedMonth }}</h1>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          selectedYear: 2007,
          selectedMonth: 1
        },
        computed: {
          years() {
            let yearsArray = [];
            for (let i = 2006; i <= 2019; i++) {
              yearsArray.push(i);
            }
            console.log(yearsArray);
            return yearsArray;
          }
        }
      });
    </script>
  </body>
</html>
