<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style>
      body {
        font: 20px Tahoma;
      }
      h3 {
        margin: 10px 0;
      }
      ol {
        padding-left: 0;
      }
      li {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
      }
      fieldset {
        width: 250px;
        margin: auto;
      }
    </style>
    <title>8_todoList</title>
  </head>
  <body>
    <div id="app">
      <fieldset>
        <legend>Enter an item to be done.</legend>
        <input type="text" v-model="output" @keyup.13="addTask(output)" />
        <ol>
          <li v-for="task in tasks">
            {{ tasks.indexOf(task) + 1 }}. {{ task }}
            <button @click="removeTask(task)">Delete</button>
          </li>
        </ol>
      </fieldset>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          output: "",
          tasks: []
        },
        methods: {
          addTask(item) {
            this.tasks.push(item);
            this.output = "";
          },
          removeTask(item) {
            this.tasks.splice(this.tasks.indexOf(item), 1);
          }
        }
      });
    </script>
  </body>
</html>
